@using CafeMaya.Services
@using CafeMaya.Models
@using Blazored.Toast.Configuration
@inherits LayoutComponentBase

<main>
    @Body
    <BlazoredToasts Timeout="5" Position="ToastPosition.BottomCenter" ShowProgressBar="true" ShowCloseButton="true" PauseProgressOnHover="true"/>
</main>
