@page "/"
@using Microsoft.AspNetCore.Components.Web
@namespace CafeMaya.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <base href="~/" />
    <link href="css/app.css" rel="stylesheet" />
    <link href="CafeMaya.styles.css" rel="stylesheet">
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body>
    <component type="typeof(App)" render-mode="ServerPrerendered" />

<div id="blazor-error-ui">
    <environment include="Staging,Production">
        An error has occurred. This application may no longer respond until reloaded.
    </environment>
    <environment include="Development">
        An unhandled exception has occurred. See browser dev tools for details.
    </environment>
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

<audio id="notificationSound">
    <source id="notificationSoundSrc" src="" />
</audio>
<script type="application/javascript">
window.PlayAudioFile = (src) => {
    let audio = document.getElementById('notificationSound');
    if (audio != null)
        {
            let audioSrc = document.getElementById('notificationSoundSrc');
            if (audioSrc != null)
            {
                audioSrc.src = src;
                audio.load();
                audio.play();
            }
        }
    }
</script>
<script src="https://unpkg.com/imask"></script>
<script  type="application/javascript">
window.masks = () => {
    let el = document.getElementById('clientPhone');
    if (el != null)
    { 
        let phoneMask = IMask(el, { mask: '+{7}(000)000-00-00', placeholderChar: '#' });
    }
    };
</script>

<script src="_framework/blazor.server.js"></script>
</body>
</html>
